# Ignore SQLite database in the backend folder
backend/db.sqlite3

# Ignore environment files
env/

# Ignore project directory and docker command files
project_directory.txt
docker_command.txt

# Ignore settings.py in the backend folder
backend/backend/settings.py
